.background{
    background-color: rgba(0, 0, 0, 0.356);
    width: 100vw;
    height: 100vh;

    position: fixed;
    
}
.formulario{
    background-color: rgb(241, 241, 241);
    
    font-family: cursive;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: auto;

    width: 25rem;
    height: 100%;
}
.formulario button{
    width: 15rem;
    margin-left: auto;
    margin-right: auto;
    padding: 0.5rem;
    background-color: white;
    background-color: rgba(161, 192, 181, 0.744);
    border-radius: 5rem;
    border: 1px solid black;


}
.paginaNombres , .paginaEstados{
    position: fixed;
    height: auto;
    width: 25rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    background-color:rgba(185, 185, 185, 0.849) ;
    border: 1px solid black;
    margin: auto;    
    
}
.paginaNombres button{
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
}
.paginaEstados button{
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
}
.fechaF{
    width: 15rem;
    padding: 0.5rem;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border: 1px solid black;
    background-color: rgba(161, 192, 181, 0.744);
    border-radius: 5rem;


}

.nombreTarea{
    width: 15rem;
    margin: 0 auto 0;
    border-radius: 5rem;
}
.titleTarea{
    text-align: center;
    margin-bottom: -2.5rem;
    font-size: 1.1rem;
    color: rgb(26, 26, 26);
}
.formularioTitle{
    font-size: 2rem;
    text-align: center;
    color: rgb(33, 33, 33);
}
.formulario button:hover{
    background-color: rgb(25, 216, 153);
    box-shadow: 0px 0px 3px 0.5px black;

}
.fechaF:hover{
    background-color: rgb(25, 216, 153);
    box-shadow: 0px 0px 3px 0.5px black;

}
.nombreTarea:hover{
    background-color: rgba(92, 209, 170, 0.342);

}

